@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	background-color: white;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
	width: 300px;
	height: 420px;
	word-break: keep-all;
}

.buttonBox {
	text-align: right;
}

.settingButton {
	display: inline-block;
	height: 24px;
	width: 24px;
	object-fit: contain;
	padding-left: 6px;
	padding-right: 5px;
}

.githubButton {
	display: inline-block;
	height: 24px;
	width: 24px;
	object-fit: contain;
	padding-left: 6px;
	padding-right: 5px;
}

.grid-container {
    background-color: white;
	font-family: 'Nanum Gothic', serif;
    font-weight: bold;
	word-break: keep-all;
    display: grid;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 120px 120px 120px 20px;
}

.semester-timer {
	box-sizing: border-box;
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-radius: 10px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	align-items: center;
	border: 2px solid #000;
}

.menu-button {
	border-radius: 10%;
	box-shadow: 3px 3px 3px #D2D2D2;
	margin: 5px;
    text-align: center;
    border: 2px solid #ffffffff;
}
.menu-button:hover {
	border: 2px solid #1d2475;
}
.menu-button > a {
	color: black;
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
}
.menu-button > img {
	height: 50px;
	margin-top: 10px;
	width: 50px;
}
.menu-button > a > p {
	font-family: 'Nanum Gothic', serif;
	font-size: 12px;
	margin: 5px;
}

.footer {
	color: gray;
	font-family: 'Nanum Gothic', serif;
	font-size: 10px;
	font-weight: 100;
	grid-column: span 3;
	padding: 1px;
	text-align: center;
	padding-bottom: 10px;
}
.footer > div > a {
	color: gray;
	text-decoration: none;
}